:root{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
}

.button{
    margin: 10px;
    width: 300px;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(136, 245, 126);
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: inset -10px -10px 10px 0 rgba(0,0,0,0.05),inset 10px 10px 10px 0 rgba(255,255,255,0.3);

}
.button:active{
    box-shadow: inset 10px 10px 10px 0 rgba(0,0,0,0.05),inset -10px -10px 10px 0 rgba(255,255,255,0.3);
}

.title{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}