body{
    margin: 0;
}
.centered-flex-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 100vh;
    font-size:2rem;
    .centered-flex-content();
}
.card{
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    flex-direction: column;
    border: 1px solid #ccc;
    margin: 0 10px;
}
.card-header{
    padding:10px 0;
    text-align: center;
}
.card-body{
    border-top: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
}